<nav> 
<ul class="nav nav-tabs">
   <li class="nav-item">
   <a class="nav-link" [routerLink]="['/Afficher']" routerLinkActive="c1">Afficher les articles</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" [routerLink]=" ['/Ajouter']" routerLinkActive="c1">Ajouter un Article</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" [routerLink]="['/Modifier']" routerLinkActive="c1">Modifier un Article </a>
   </li>
   <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Effacer']" routerLinkActive="c1">Effacer un Article </a>
      </li>
  </ul>

</nav>



<router-outlet></router-outlet>